#
# Files ignored by Git
# ====================
#

# - Built files
/packages/*/*.js
!/packages/*/.doxie.render.js
!/packages/*/*.config.js
!/packages/*/module.js
!/packages/*/test.js
/packages/*/*/
!/packages/*/module/
!/packages/*/test/
!/packages/*/Readme/

!/packages/parametric-svg-spec/specs/

# - All files and directories ending with “~”
*~

# - NPM stuff
node_modules/
npm-debug.log
npm-debug.log.*

# - Test coverage reports
coverage/
